# Application Configuration
NODE_ENV=development
NEXT_PUBLIC_APP_NAME=MyPharmacy
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_AUTH_SERVICE=http://localhost:3001/api
NEXT_PUBLIC_API_WAREHOUSE_SERVICE=http://localhost:3002/api
NEXT_PUBLIC_API_DEPO_SERVICE=http://localhost:3003/api
NEXT_PUBLIC_MAX_TOKEN_RETRY_ATTEMPTS=3

# Docker Configuration
PORT=3000
